<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Index</title>
    @Scripts.Render("~/js")
    @Styles.Render("~/css")
</head>
<body style="background-image:url('../../image/chatroom_bg.svg');background-size:contain">
    <div id="app" style="height:100%;width:100%">
        <Row style="filter:alpha(opacity=50);padding:10px;height:95%">
            <i-col span="6" offset="2" style="height:100%;width:240px">
                <div style="margin:10px;height:65px">
                    <div style="display:inline-block">
                        <Icon type="person" size="32"></Icon>
                    </div>
                    <div style="display:inline-block;padding:3px">
                        <h4>{{userName}}</h4>
                        <p style="font-size:12px">{{userSign}}</p>
                    </div>
                </div>
                <div style="height:85%;">
                    <div style="height:50px;background-color:#a8a8a8;line-height:50px;text-align:center;border-radius:10px 10px 0px 0px">
                        <h3 style="color:azure">联系人</h3>
                    </div>
                    <div style="height:75%;min-height:300px;">
                        <card v-for="value in work_list">
                            <h3 style="display:inline-block">{{value.name}}</h3>
                            <span v-if="value.Email!=undefined&&value.Email!=''" style="color: rgb(158, 167, 180);">({{value.Email}})</span>
                        </card>
                    </div>
                    <div style="height:50px;line-height:50px;text-align:center;border:0px;background-color:#a8a8a8;border-radius:0px 0px 10px 10px">
                        <row>
                            <i-col span="6" offset="1">
                                <i-button size="large" type="text">
                                    会话
                                </i-button>
                            </i-col>
                            <i-col span="6" offset="1">
                                <i-button size="large" type="text">
                                    联系人
                                </i-button>
                            </i-col>
                            <i-col span="6" offset="2">
                                <i-button size="large" type="text">
                                    设置
                                </i-button>
                            </i-col>
                        </row>
                    </div>
                </div>
                <div style="text-align:left;height:30px;">
                    <i-button type="text">
                        <Icon type="ios-arrow-left" size="16"></Icon>
                    </i-button>
                    <i-button type="text">
                        <Icon type="ios-arrow-right" size="16"></Icon>
                    </i-button>
                    <i-button type="ghost" size="small">
                        意见反馈
                    </i-button>
                </div>
            </i-col>
            <i-col span="12" offset="2" style="height:100%">
                <div style="height:60%;margin-top:80px;min-width:500px">
                    <div style="height:50px;background-color:#a8a8a8;border-radius:10px 10px 0px 0px">
                        <row>
                            <i-col span="2" offset="1">
                                <Dropdown placement="bottom" style="padding-top:11px;">
                                    <a href="javascript:void(0)">
                                        <Icon type="android-arrow-dropdown" size="32" color="#fdfdfd"></Icon>
                                    </a>
                                    <dropdownmenu slot="list">
                                        <dropdownitem>
                                            <span style="color:#888888">群成员</span>
                                        </dropdownitem>
                                        <DropdownItem>
                                            <span style="color:#888888">群资料</span>
                                        </DropdownItem>
                                    </dropdownmenu>
                                </Dropdown>
                            </i-col>
                            <i-col span="18" style="text-align:center;line-height:50px">
                                <h3 style="color:azure">{{roomName}}</h3>
                            </i-col>
                            <i-col span="2" style="line-height:50px">
                                <i-button type="ghost" shape="circle" style="color:azure">关闭</i-button>
                            </i-col>
                        </row>
                    </div>
                    <div style="height:70%;min-height:400px;background-color:#a8a8a8;opacity: 0.5;overflow-y:auto">
                        <ul  style="padding:12px;">
                            <li v-for="value in this.message_list">
                                <h2 style="color:#000000" v-if="value.type=='other'">{{value.name}}:{{value.content}}</h2>

                                <h2 style="color:#000000;text-align:right" v-else-if="value.type=='oneself'">{{value.content}}:{{userName}}</h2>
                            </li>
                        </ul>
                    </div>
                    <div style="height:50px;background-color:#a8a8a8;border-radius:0px 0px 10px 10px;padding:10px">
                        <i-input type="text" placeholder="请输入发送内容..." style="width:80%;" v-model="message_content"></i-input>
                        <i-button type="dashed" v-on:click="this.click_sendMessage">发送</i-button>
                    </div>
                </div>
            </i-col>
            <i-col span="1">
                <div style="padding:20px">
                    <i-button type="dashed" size="large" v-on:click="ToHome">返回网盘</i-button>
                </div>
            </i-col>
        </Row>
    </div>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Chatroom.js"></script>
  

</body>
</html>
