<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MoeMoeD网盘</title>
    @Scripts.Render("~/js")
    @Styles.Render("~/css")
</head>
<body>
    <div id="app" style="background-color:#EFF4F8">
        <nav style="height:85px;float:left;width:100%">
            <div class="layout-logo" style="margin:20px"></div>
            <i-button type="text" style="margin:20px"><h2>网盘</h2></i-button>
            <i-button type="text" style="margin:20px"><h2>分享</h2></i-button>
            <i-button type="text" style="margin:20px"><h2>更多</h2></i-button>
        </nav>

        <section style="height:100%;padding-top:85px;">
            <row style="height:100%">
                <i-col span="1" style="width:200px;height:100%">
                    <i-menu style="background:#EFF4F8;height:100%;" v-on:on-select="select" width="200px;">
                        <imenuitem name="add" style="padding-left: 30px">
                            <Icon type="ios-paper" size="16" color="#F8F8F8"></Icon>
                            全部文件
                        </imenuitem>
                        <imenuitem name="search" style="padding-left: 53px">
                            图片
                        </imenuitem>
                        <imenuitem name="search" style="padding-left: 53px">
                            文档
                        </imenuitem>
                        <imenuitem name="search" style="padding-left: 53px">
                            视频
                        </imenuitem>
                        <imenuitem name="search" style="padding-left: 53px">
                            种子
                        </imenuitem>
                        <imenuitem name="search" style="padding-left: 53px">
                            音乐
                        </imenuitem>
                        <imenuitem name="search" style="padding-left: 53px">
                            其他
                        </imenuitem>
                        <imenuitem name="search" style="padding-left: 30px">
                            <Icon type="android-share-alt" size="16"></Icon>
                            我的分享
                        </imenuitem>
                        <imenuitem name="search" style="padding-left: 33px">
                            <Icon type="trash-b" size="16"></Icon>
                            回收站
                        </imenuitem>
                        <menugroup>
                            <i-button type="text">
                                <Icon type="social-windows" size="20"></Icon>
                            </i-button>
                            <i-button type="text">
                                <Icon type="social-android" size="20"></Icon>
                            </i-button>
                            <i-button type="text">
                                <Icon type="iphone" size="20"></Icon>
                            </i-button>
                            <i-button type="text">
                                <Icon type="social-apple" size="20"></Icon>
                            </i-button>
                        </menugroup>
                    </i-menu>
                </i-col>
                <i-col span="24" style="position:absolute;min-width:500px;padding-right:5px;height:100%">
                    <card :dis-hover="true" :padding="6" style="height:100%;padding-top:85px;width:100%;padding-left:200px">

                    </card>
                </i-col>
            </row>
        </section>
        
    </div>
    <script type="text/javascript" src="~/Scripts/Home.js"></script>
</body>
</html>

